/* font-family: 'Cormorant Garamond', serif; */
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.header{
    grid-column: 2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.header-first-row{
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
}
input,
button,
label{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
}
.header  img {
    height: 30px;
    width: auto;
}

.sidebar{
    grid-row: 1/3;
}
.main-content{
    grid-column: 2;
    grid-row: 2;
}